.bg-image-1 {
    background-image: url("../img/1\ \(15\).jpeg");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 98%;
}
.bg-image-2 {
    background-image: url("../img/1\ \(12\).jpeg");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-image-3 {
    background-image: url("../img/13.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-image-4 {
    background-image: url("../img/17.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-shadow {
    background-color: rgba(228, 222, 222, 0.274);
}

a.hover-1 {
    position: relative;
    color: white!important;
}

a.hover-1:hover {
    color: red!important;
}
.card {
    cursor: pointer;
    transition: ease 0.5s;
}
.card:hover {
    transform: translateY(-15px);
}
.card1 {
    cursor: pointer;
    transition: ease 0.7s;
}
.card1:hover {
    transform: translateY(-10px);
}
